.main-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.data-container{
    display: flex;
    justify-content: space-evenly;
}

.convert-input{
    margin-top:8px
}

.convert-result {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.input-field{
    width:79px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.convert-submit {
    margin-left: 35%;
    margin-top: 10px;
}

.loader {
    margin: 10px;
}

.change-sides-img{
    margin-top: 30px;
    cursor: pointer;
}

.header {
    margin-top: -5px;
}