.main-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.data-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row1{
    display: flex;
    flex-direction: column;
}

.items{
    width:79px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.convert-submit {
    margin-left: 35%;
    margin-top: 10px;
}

.loader {
    margin: 10px;
}

.change-sides-img{
    margin-top: 30px;
    cursor: pointer;
}